.grid{
    width: 546px;
    height: 546px;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
}
.square{
    height: 180px;
    width: 180px;
    border: solid black 1px;
}
.mole{
    background-image: url('images/mole.png');
    width: 180px;
    height: 180px;
    background-size: contain;
}

  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    
    justify-content: center;
  }
  
  .buttons button {
    margin: 0 2px; 
    width: 110px;
    height: 40px;
     
  }
body{
    background-color: aquamarine;
}
  .easy{
    background-color: green;
  }
  .medium{
    background-color: orange;
  }
  .hard{
    background-color: red;
  }


  #score-div{
    display: flex;
  }
  
  #time-div{
    display: flex;
  }